<p style="font-size: 1.1rem; color:#9beb3b; text-align: center; font-family: monospace ">
    <strong>
        Importando bibliotecas
    </strong>
</p>

In [64]:
import pandas as pd
import xlwings as xw

<p style="font-size: 1.1rem; color:#9beb3b; text-align: center; font-family: monospace ">
    <strong><br/><br/><br/><br/><br/><br/>
        Lendo base de dados
    </strong>
</p>

In [24]:
# nome_arquivo = ''
# caminho_base = f'dados/{nome_arquivo}.xlsx'
# base_entregas = r'dados/base_entregas_brutas.xlsx'

# try:
    # nome_arquivo = 'base_entregas_brutas'
    # df = pd.read_excel(f'dados/{nome_arquivo}.xlsx')  
# except FileNotFoundError as e:
    # print(f'Arquivo não encontrado: {e}')

# df

In [25]:
def ler_arquivo(nome_arquivo):
    try:
        df = pd.read_excel(f'dados/{nome_arquivo}.xlsx')
        return df
    except FileNotFoundError as e:
            print('Erro: {e}')
def criar_atualizar_arquivo(nome_arquivo,df_tratado= ''):
     df_tratado.to_excel(f'dados/{nome_arquivo}.xlsx')

In [26]:
df = ler_arquivo('base_entregas_brutas')

<p style="font-size: 1.1rem; color: #9beb3b; text-align: center; font-family: monospace ">
    <strong><br/><br/><br/><br/><br/><br/>
        Informações gerais
    </strong>
</p>

In [27]:
# df.shape
df.info()

# df.sample(5, random_state=42)
# df.sample(frac=0.1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5200 entries, 0 to 5199
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id_entrega         5200 non-null   int64
 1   filial             4454 non-null   object
 2   cliente            4283 non-null   object
 3   status             4615 non-null   object
 4   descricao_entrega  4637 non-null   object
 5   tipo_servico       4095 non-null   object
 6   valor_frete        5200 non-null   float64
 7   data_postagem      5200 non-null   datetime64[ns]
 8   prazo_previsto     4330 non-null   float64
 9   dias_atraso        4479 non-null   float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(5)
memory usage: 406.4+ KB

<p style="font-size: 1.1rem; color: #9beb3b; text-align: center; font-family: monospace ">
    <strong><br/><br/><br/><br/><br/><br/>
        Tratamento - Dados ausentes        
    </strong>
</p>

<p style="font-size: 1.1rem; color: #00d9ff; font-family: monospace ">
    <strong>
        Por segurança, criamos uma copia do DF       
    </strong>
</p>

In [28]:
df_tratado = df.copy()

<p style="font-size: 1.1rem; color: #00d9ff; font-family: monospace ">
    <strong>
        Filial 
    </strong>
</p>

In [29]:
df_tratado.loc[:, 'filial'] = df_tratado['filial'].fillna('Não informada')

<p style="font-size: 1.1rem; color: #00d9ff; font-family: monospace ">
    <strong>
        Cliente 
    </strong>
</p>

In [30]:
df_tratado.loc[: , 'cliente'] = df_tratado['cliente'].fillna('Não Localizado')

<p style="font-size: 1.1rem; color: #00d9ff; font-family: monospace ">
    <strong>
        Dias de atraso 
    </strong>
</p>

In [31]:
df_tratado.loc[: , 'dias_atraso'] = df_tratado['dias_atraso'].fillna(0)

<p style="font-size: 1.1rem; color: #00d9ff; font-family: monospace ">
    <strong>
        Prazo previsto 
    </strong>
</p>

In [32]:
df_tratado.loc[: , 'prazo_previsto'] = df_tratado['prazo_previsto'].fillna(
    df_tratado['prazo_previsto'].median()
)

<p style="font-size: 1.1rem; color:#9beb3b; text-align: center; font-family: monospace ">
    <strong><br/><br/><br/><br/><br/><br/>
        Tratamento - Duplicadas
    </strong>
</p>

<p style="font-size: 1.1rem; color: #00d9ff; font-family: monospace ">
    <strong>
        Verificando duplicadas com base no ID 
    </strong>
</p>

In [33]:
df_tratado.duplicated(subset=['id_entrega']).sum()

np.int64(2334)

<p style="font-size: 1.1rem; color: #00d9ff; font-family: monospace ">
    <strong>
        Removendo duplicadas, mantendo a primeira ocorrencia
    </strong>
</p>

In [34]:
df_tratado = df_tratado.drop_duplicates(subset=['id_entrega'])

<p style="font-size: 1.1rem; color:#9beb3b; text-align: center; font-family: monospace ">
    <strong><br/><br/><br/><br/><br/><br/>
        Tratamento - Tipagem correta para ID
    </strong>
</p>

In [35]:
df_tratado['id_entrega'] = df_tratado['id_entrega'].astype('Int64')
df_tratado['prazo_previsto'] = df_tratado['prazo_previsto'].astype('Int64')
df_tratado['dias_atraso'] = df_tratado['dias_atraso'].astype('Int64')

In [36]:
df_tratado

,id_entrega,filial,cliente,status,descricao_entrega,tipo_servico,valor_frete,data_postagem,prazo_previsto,dias_atraso
0,2870,PR,Amazon,Entregue,Entrega realizada no prazo,Normal,274.75,2026-01-08 19:55:58,2,0
1,930,RJ,Mercado Livre,entregue,Entrega reagendada,Normal,81.90,2026-01-11 19:55:58,3,0
2,1934,MG,Amazon,Entregue,NaN,NaN,291.76,2026-01-13 19:55:58,5,3
3,940,MG,Amazon,ATRASADO,Entrega reagendada,econômico,40.89,2026-01-14 19:55:58,2,0
4,1969,SC,Mercado Livre,EM TRANSITO,Entrega com atraso por chuva,NaN,229.75,2026-01-19 19:55:58,3,0
...,...,...,...,...,...,...,...,...,...,...
5177,65,PR,Amazon,atrasado,Extravio temporário,Normal,251.47,2026-01-29 19:55:58,5,2
5184,1056,RJ,Magazine Luiza,Atrasado,Cliente ausente no local,Normal,320.94,2026-01-14 19:55:58,2,0
5188,291,SP,Americanas,Em trânsito,Entrega realizada no prazo,Normal,155.01,2026-01-08 19:55:58,3,0
5190,1681,Não informada,Não Localizado,Em trânsito,NaN,NaN,218.20,2026-01-06 19:55:58,3,0
5194,2712,RS,Shopee,Entregue,Problema operacional na rota,NaN,188.58,2026-01-14 19:55:58,2,0

<p style="font-size: 1.1rem; color:#9beb3b; text-align: center; font-family: monospace ">
    <strong><br/><br/><br/><br/><br/><br/>
        Tratamento - Padronização e Normalização
    </strong>
</p>

<p style="font-size: 1.1rem; color: #00d9ff; font-family: monospace ">
    <strong>
        Removendo espaços e alterando para caixa alta 
    </strong>
</p>

In [37]:
df_tratado['status'] = df_tratado['status'].str.strip().str.upper()
df_tratado['tipo_servico'] = df_tratado['tipo_servico'].str.strip().str.upper()

<p style="font-size: 1.1rem; color: #00d9ff; font-family: monospace ">
    <strong>
        Status 
    </strong>
</p>

In [38]:
mapa_status = {
    'ENTREGUE': 'ENTREGUE',
    'EM TRANSITO': 'EM TRÂNSITO',
    'EM TRANZITO': 'EM TRÂNSITO',
    'EM TRÂNSITO': 'EM TRÂNSITO',
    'ATRASADO': 'ATRASADO'
}

df_tratado['status'] = df_tratado['status'].map(mapa_status)

Criando Coluna Calculada

In [44]:
df_tratado['data_prevista'] = (
    df_tratado['data_postagem'] + 
    pd.to_timedelta(df_tratado['prazo_previsto'], unit='D')
)
df_tratado[['data_postagem',
            'prazo_previsto',
            'data_prevista',
            'Atraso']]

           data_postagem  prazo_previsto       data_prevista  Atraso
0    2026-01-08 19:55:58               2 2026-01-10 19:55:58      26
1    2026-01-11 19:55:58               3 2026-01-14 19:55:58      22
2    2026-01-13 19:55:58               5 2026-01-18 19:55:58      18
3    2026-01-14 19:55:58               2 2026-01-16 19:55:58      20
4    2026-01-19 19:55:58               3 2026-01-22 19:55:58      14
...                  ...             ...                 ...     ...
5177 2026-01-29 19:55:58               5 2026-02-03 19:55:58       2
5184 2026-01-14 19:55:58               2 2026-01-16 19:55:58      20
5188 2026-01-08 19:55:58               3 2026-01-11 19:55:58      25
5190 2026-01-06 19:55:58               3 2026-01-09 19:55:58      27
5194 2026-01-14 19:55:58               2 2026-01-16 19:55:58      20

[2866 rows x 4 columns]

In [43]:
hoje = pd.Timestamp.today().normalize()

df_tratado['Atraso'] = (
    hoje - df_tratado['data_prevista']
).dt.days

df_tratado['Atraso'] = df_tratado['Atraso'].clip(lower=0)

<p style="font-size: 1.1rem; color:#9beb3b; text-align: center; font-family: monospace ">
    <strong><br/><br/><br/><br/>
        Prazo previsto de acordo com a filial
    </strong>
</p>

In [62]:
df_tratado.loc[
    (df_tratado['cliente'] == 'Shopee') & 
    (df_tratado['filial'] == 'RJ'),
    "prazo_previsto"
] = 5

df_tratado.loc[
    (df_tratado['cliente'] == 'Amazon') &
    (df_tratado['filial'].isin(['MG','SP'])),
    "prazo_previsto"
] = 2

<p style="font-size: 1.1rem; color:#9beb3b; text-align: center; font-family: monospace ">
    <strong><br/><br/><br/><br/>
        Atualizando arquivo para executar fórmulas
    </strong>
</p>

In [66]:
app = xw.App(visible=False)

wb = xw.Book('dados/base_entregas_tratadas.xlsx')

wb.app.calculate()

wb.save()

wb.close()

app.quit()

<p style="font-size: 1.1rem; color:#9beb3b; text-align: center; font-family: monospace ">
    <strong><br/><br/><br/><br/>
        Salvando arquivo tratado
    </strong>
</p>

In [45]:
criar_atualizar_arquivo('base_entregas_tratadas', df_tratado=df_tratado)