<p style="font-size: 1.1rem; color:#9beb3b; text-align: center; font-family: monospace ">
    <strong><br/><br/>
        PANDAS      
    </strong>
</p>

In [69]:
import pandas as pd

dados = [
    ['Monique', "SP", 6500.59], 
    ['Larissa', "RJ", 2600.15], 
    ['Pedro',   "MG", 3200.22], 
    ['Beto',    "SP", 2900.30], 
    ['Luíza',   "RJ", 5600.00],     
    ]

colunas = ["Nome","Estado","Salário"]

df = pd.DataFrame(dados, columns=colunas)

df.head(2)  # entrega as 5 primeiras e as 5 últimas linhas ou especificar a quantidade dentro do ()
df.shape # qtd de linhas e colunas
df.info()
df.describe()
df.dropna() # remove linhas totalmente vazias 
df['Nome']
# strip() - tira os espaços do começo e do fim

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Nome     5 non-null      object
 1   Estado   5 non-null      object
 2   Salário  5 non-null      float64
dtypes: float64(1), object(2)
memory usage: 248.0+ bytes

0    Monique
1    Larissa
2      Pedro
3       Beto
4      Luíza
Name: Nome, dtype: object

In [71]:
df.to_excel('dados_bobos.xlsx', index=False)

In [72]:
cod = 'codigo-1015/101215' 
p = cod.index('-') + 1
cod[p:]

'1015/101215'

In [73]:
df['Salário'] > 3000 # só retorna se é True ou False

df[df['Salário'] > 3000]

      Nome Estado  Salário
0  Monique     SP  6500.59
2    Pedro     MG  3200.22
4    Luíza     RJ  5600.00

In [74]:
df.groupby('Estado')['Salário'].mean().reset_index(name='Media Salárial')

  Estado  Media Salárial
0     MG        3200.220
1     RJ        4100.075
2     SP        4700.445

<p style="font-size: 1.1rem; color:#9beb3b; text-align: center; font-family: monospace ">
    <strong><br/><br/>
        EXERCÍCIO 1 — Criando uma tabela de produtos   
    </strong>
</p>

In [75]:
Produtos = [
    ['Papelaria','Caderno',     27.59], 
    ['Papelaria','Caneta',      02.50], 
    ['Papelaria','Lápis',       01.50], 
    ['Copa','Café',             38.30], 
    ['Copa','Garrafa de Café',  90.00],
    ['Eletronico','Mouse',      55.00],
    ['Eletronico','Teclado',    90.00],
    ['Eletronico','Monitor',    150.00],
    ['Eletronico','Fone',       50.20],     
    ]

colunas = ['Categoria', 'Produto','Preco']

df_aula = pd.DataFrame(Produtos, columns=colunas)

df_aula

    Categoria          Produto   Preco
0   Papelaria          Caderno   27.59
1   Papelaria           Caneta    2.50
2   Papelaria            Lápis    1.50
3        Copa             Café   38.30
4        Copa  Garrafa de Café   90.00
5  Eletronico            Mouse   55.00
6  Eletronico          Teclado   90.00
7  Eletronico          Monitor  150.00
8  Eletronico             Fone   50.20

<p style="font-size: 1.1rem; color:#9beb3b; text-align: center; font-family: monospace ">
    <strong><br/><br/>
        EXERCÍCIO 2 — Visualizando as primeiras linhas
    </strong>
</p>

In [76]:
df_aula.head(3)

   Categoria  Produto  Preco
0  Papelaria  Caderno  27.59
1  Papelaria   Caneta   2.50
2  Papelaria    Lápis   1.50

<p style="font-size: 1.1rem; color:#9beb3b; text-align: center; font-family: monospace ">
    <strong><br/><br/>
        EXERCÍCIO 3 — Filtrando produtos caros
    </strong>
</p>

In [77]:
df_aula[df_aula['Preco'] > 50]

df_aula['Preco'].max()

display(df_aula.groupby('Categoria')['Preco'].max())

Categoria
Copa           90.00
Eletronico    150.00
Papelaria      27.59
Name: Preco, dtype: float64

<p style="font-size: 1.1rem; color:#9beb3b; text-align: center; font-family: monospace ">
    <strong><br/><br/>
        EXERCÍCIO 4 — Resumo por categoria
    </strong>
</p>

In [78]:
#display(df.groupby('Categoria')['Preco'].mean())

df_aula.groupby('Categoria').agg(
    maior_preco = ('Preco','max'),
    media_preco = ('Preco','mean'),
    soma_preco = ('Preco','sum')
)

            maior_preco  media_preco  soma_preco
Categoria
Copa              90.00        64.15      128.30
Eletronico       150.00        86.30      345.20
Papelaria         27.59        10.53       31.59