Importando Lib's

In [2]:
import pyodbc
import pandas as pd

In [ ]:
def exe_query(query):
    return pd.read_sql(query, conn)

lista_resposta = []
def exe_varias_querys(*args):
    for consulta in args:
        lista_reposta.append(pd.read_sql(consulta,conn))
    return lista_resposta

Criando Conex√£o

In [ ]:
conn = pyodbc.connect(
    "DRIVER={ODBC Driver 17 for SQL Server};"\
    "SERVER=den1.mssql7.gear.host;"\
    "DATABASE=vendasbicyclon;"\
    "UID=vendasbicyclon;"\
    "PWD=senha@clarify;"\
    "MARS_Connection=Yes"
)

In [12]:
query = """
SELECT
    TABLE_SCHEMA,
    TABLE_NAME
FROM INFORMATION_SCHEMA.TABLES
WHERE TABLE_TYPE = 'BASE TABLE'
ORDER BY TABLE_SCHEMA, TABLE_NAME
"""

df_tabelas = pd.read_sql(query, conn)
df_tabelas

C:\Users\monique.batista\AppData\Local\Temp\ipykernel_30712\3489874160.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_tabelas = pd.read_sql(query, conn)

  TABLE_SCHEMA      TABLE_NAME
0          dbo        clientes
1          dbo     itensPedido
2          dbo  linhasProdutos
3          dbo         pedidos
4          dbo        produtos
5          dbo       regionais
6          dbo     sysdiagrams
7          dbo      vendedores

In [13]:
df_tabelas

  TABLE_SCHEMA      TABLE_NAME
0          dbo        clientes
1          dbo     itensPedido
2          dbo  linhasProdutos
3          dbo         pedidos
4          dbo        produtos
5          dbo       regionais
6          dbo     sysdiagrams
7          dbo      vendedores

Nome dos Clientes

In [15]:
query_clientes = """
SELECT 
    nomeCliente
FROM DBO.CLIENTES
"""

df_clientes = pd.read_sql(query_clientes, conn)
df_clientes

C:\Users\monique.batista\AppData\Local\Temp\ipykernel_30712\1062322023.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_clientes = pd.read_sql(query_clientes, conn)

                 nomeCliente
0         Velocycle Emporium
1         Pedal & Gear Haven
2    CicloFusion Marketplace
3         BiciMondo Ventures
4   SpinScape Bikes & Beyond
5         CyclaVista Cyclery
6  RollRight Wheels Emporium
7        GearSpin Provisions
8              BikeHub Oasis
9        PedalCraft Boutique

Produtos com valor > 2000

In [20]:
query_produtos = """
SELECT 
    nomeProduto,
    descricaoProduto,
    precoUnitario
FROM DBO.PRODUTOS
WHERE precoUnitario > 2000
AND descricaoProduto IS NOT NULL
"""

df_produtos = pd.read_sql(query_produtos, conn)
df_produtos

C:\Users\monique.batista\AppData\Local\Temp\ipykernel_30712\1450232964.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_produtos = pd.read_sql(query_produtos, conn)

,nomeProduto,descricaoProduto,precoUnitario
0,Summit Seeker 2000,Mountain Bike com suspens?o dianteira e traseira,2499.0
1,Velocity Racer 3000,Road Bike de carbono leve,3499.0
2,E-Power Cruiser 6000,Electric Bike com motor de pedal assistido,2399.0
3,Junior Adventurer 8000,Kids Bike para crian?as de 6 a 9 anos,2999.0
4,Expedition Voyager 11000,Touring Bike para viagens longas e aventuras,2799.0